<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>연습예시</title>
</head>
<body>

	<table border="1">
		<tr>
			<th>productNm</th>
			<th>price</th>
			<th>addTax</th>
			<th>totalPrice</th>
			<th>brandNm</th>
		</tr>
		<tr th:each="productMap : ${productMapList}">
			<td th:id="|productId${productMapStat.count}"
				th:name="|productId${productMapStat.count}|"
				th:text="${productMap.productNm}"></td>
		</tr>
	</table>

</body>
</html>