<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>controllerToAjax</title>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script>

	$().ready(function(){
		
		// 1) 단일데이터 return
		$("#btn1").click(function(){
			
			$.ajax({
				
				url : "/c2a/ex01",
				type : "post",
				success : function(data) {
					/*
						
						[형식]
					
						파라메타
						
					*/
					console.log(data);
					$("#printData").html(data);
				}
			
			});
			
		});
		
		
		// 2) DTO return
		$("#btn2").click(function(){
			
			$.ajax({
				
				url : "/c2a/ex02",
				type : "post",
				success : function(data) {
					
					/*
					
						 [DTO 사용형식 ]

						파라메타.필드
						
					*/
					console.log(data);
					console.log(data.productNm);
					console.log(data.price);
					
					// 화면출력 방식1
					let dataView = "<table border='1'>";
					dataView += "<tr>";
					dataView += "<th>productId</th>";
					dataView += "<th>productNm</th>";
					dataView += "<th>price</th>";
					dataView += "<th>deliveryPrice</th>";
					dataView += "<th>enrollDt</th>";
					dataView += "<th>brandId</th>";
					dataView += "</tr>";
					dataView += "<tr>";
					dataView += "<td>" + data.productId + "</td>";
					dataView += "<td>" + data.productNm + "</td>";
					dataView += "<td>" + data.price + "</td>";
					dataView += "<td>" + data.deliveryPrice + "</td>";
					dataView += "<td>" + data.enrollDt + "</td>";
					dataView += "<td>" + data.brandId + "</td>";
					dataView += "</tr>";
					dataView += "</table>";
					
					//$("#printData").html(dataView);
					
					// 화면출력 방식2 (백틱 사용 : 멀티라인 문자열)
					let viewData = `
						<table border='1'>
							<tr>
								<th>productId</th>
								<th>productNm</th>
								<th>price</th>
								<th>deliveryPrice</th>
								<th>enrollDt</th>
								<th>brandId</th>
							</tr>
							<tr>
								<td>${data.productId}</td>
								<td>${data.productNm}</td>
								<td>${data.price}</td>
								<td>${data.deliveryPrice}</td>
								<td>${data.enrollDt}</td>
								<td>${data.brandId}</td>
							</tr>
						</table>
					`;
					
					$("#printData").html(viewData);
				}
				
			});
			
		});
		
		
		// 3) List<DTO> return
		$("#btn3").click(function(){
					
			$.ajax({
				
				url : "/c2a/ex03",
				type : "post",
				success : function(dataList) {
					
					/*
					
						[ List<DTO> 사용형식 ]	
					
						$(파라메타).each(function(){
							${this.필드}
						});
						
					*/

					console.log(dataList);
					
					let viewData = `
						<table border='1'>
							<tr>
								<th>productId</th>
								<th>productNm</th>
								<th>price</th>
								<th>deliveryPrice</th>
								<th>enrollDt</th>
								<th>brandId</th>
							</tr>`;
							$(dataList).each(function(){
								viewData += `<tr>
												<td>${this.productId}</td>
												<td>${this.productNm}</td>
												<td>${this.price}</td>
												<td>${this.deliveryPrice}</td>
												<td>${this.enrollDt}</td>
												<td>${this.brandId}</td>
											</tr>`;
							});
						viewData += `</table>`;
					
					$("#printData").html(viewData);
				}
				
			});
					
		});
		
		
		// 4) Map return
		$("#btn4").click(function(){
			
			$.ajax({
				
				url : "/c2a/ex04",
				type : "post",
				success : function(dataMap) {
					
					/*
					
						[ Map 사용형식 ]	
	
						파라메타.키
						
					*/
					console.log(dataMap);
					
					let viewData = `
						<table border='1'>
							<tr>
								<th>productId</th>
								<th>productNm</th>
								<th>price</th>
								<th>deliveryPrice</th>
								<th>enrollDt</th>
								<th>brandId</th>
								<th>addTax</th>
								<th>totalPrice</th>
								<th>brandNm</th>
								<th>enteredDt</th>
								<th>activeYn</th>
							</tr>
							<tr>
								<td>${dataMap.productId}</td>
								<td>${dataMap.productNm}</td>
								<td>${dataMap.price}</td>
								<td>${dataMap.deliveryPrice}</td>
								<td>${dataMap.enrollDt}</td>
								<td>${dataMap.brandId}</td>
								<td>${dataMap.addTax}</td>
								<td>${dataMap.totalPrice}</td>
								<td>${dataMap.brandNm}</td>
								<td>${dataMap.enteredDt}</td>
								<td>${dataMap.activeYn}</td>
							</tr>
							</table>
						`;
					
					$("#printData").html(viewData);
				}
				
			});
			
		});
	
		
		// 5) List<Map> return
		$("#btn5").click(function(){
			
			$.ajax({
				
				url : "/c2a/ex05",
				type : "post",
				success : function(dataMapList) {
					
					/*
					
						[ List<Map> 사용형식 ]	
					
						$(파라메타).each(function{
							${this.키}
						});
					
					*/
					console.log(dataMapList);
					
					let viewData = `
						<table border='1'>
							<tr>
								<th>productId</th>
								<th>productNm</th>
								<th>price</th>
								<th>deliveryPrice</th>
								<th>enrollDt</th>
								<th>brandId</th>
								<th>addTax</th>
								<th>totalPrice</th>
								<th>brandNm</th>
								<th>enteredDt</th>
								<th>activeYn</th>
							</tr>`;
							$(dataMapList).each(function(){
								viewData += `<tr>
												<td>${this.productId}</td>
												<td>${this.productNm}</td>
												<td>${this.price}</td>
												<td>${this.deliveryPrice}</td>
												<td>${this.enrollDt}</td>
												<td>${this.brandId}</td>
												<td>${this.addTax}</td>
												<td>${this.totalPrice}</td>
												<td>${this.brandNm}</td>
												<td>${this.enteredDt}</td>
												<td>${this.activeYn}</td>
											</tr>`;
							});
						viewData += `</table>`;
					
					$("#printData").html(viewData);
				}
				
			});
			
		});
		
	});
</script>
</head>
<body>
	<fieldset>
		<legend>ControllerToAjax</legend>
	    <input type="button" id="btn1" value="1) 단일데이터" >
	    <input type="button" id="btn2" value="2) DTO" >
	    <input type="button" id="btn3" value="3) List(DTO)" >
	    <input type="button" id="btn4" value="4) map" >
	    <input type="button" id="btn5" value="5) List(map)" >
	</fieldset>
	<fieldset>
	    <div id="printData" >
	    
	    </div>
	</fieldset>
</body>
</html>